
@model Spedizioni.Models.VerificaStatoSpedizioni

@using (Html.BeginForm("VerificaStatoSpedizione", "StatoSpedizioni", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div>
        @Html.LabelFor(model => model.TipoCliente)
        @Html.DropDownListFor(model => model.TipoCliente, new List<SelectListItem>
        {
            new SelectListItem { Text = "Privato", Value = "Privato" },
            new SelectListItem { Text = "Azienda", Value = "Azienda" }
        }, "Seleziona tipo cliente")
        @Html.ValidationMessageFor(model => model.TipoCliente)
    </div>

    <div>
        @Html.LabelFor(model => model.CodiceFiscale)
        @Html.TextBoxFor(model => model.CodiceFiscale)
        @Html.ValidationMessageFor(model => model.CodiceFiscale)
    </div>

    <div>
        @Html.LabelFor(model => model.PartitaIva)
        @Html.TextBoxFor(model => model.PartitaIva)
        @Html.ValidationMessageFor(model => model.PartitaIva)
    </div>

    <div>
        @Html.LabelFor(model => model.SpedizioneId)
        @Html.TextBoxFor(model => model.SpedizioneId)
        @Html.ValidationMessageFor(model => model.SpedizioneId)
    </div>

    <input type="submit" value="Verifica Stato Spedizione" />
}
